<footer class="usa-footer usa-footer-medium site" style="font-size: 1.4rem;" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#" style="color: $color-primary;">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section" style="background-color: #e1f3f8;">
    <div class="usa-grid">
      <div class="usa-width-one-third">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Contact us</h3>
        <p style="line-height: 1.7;">
          Phone: 1-877-734-4688<br/>
          Fax: 1-540-301-0160<br/>
          Email: <a href="mailto:registrar@dotgov.gov" style="color: #0071bc;">registrar@dotgov.gov</a>
        </p>
        <img src="../assets/img/gsa-logo.svg" style="width: 40px; padding-top: 1.5rem; padding-bottom: 1rem;">
      </div>
      <div class="usa-width-one-third">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Tools and services</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a href="https://domains.dotgov.gov" target="_blank" style="color: #0071bc;">Register or manage a domain</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/data" style="color: #0071bc;">Use our data</a></li>
          <li style="line-height: 1.7;"><a href="https://domains.dotgov.gov/dotgov-web/registration/whois.xhtml?_m=3" style="color: #0071bc;">WHOIS search</a></li>
          <li style="line-height: 1.7;"><a href="http://dnssec-debugger.verisignlabs.com/" style="color: #0071bc;">DNS security debugger</a></li>
          <li style="line-height: 1.7;">Help us improve this site on <a href="{{ site.repo }}/issues/new" style="color: #0071bc;">GitHub</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Policies and information</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/privacy/" style="color: #0071bc;">Privacy policy</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/foia/" style="color: #0071bc;">FOIA</a></li>
          <li style="line-height: 1.7;"><a href="https://www.gsa.gov/portal/category/21399" style="color: #0071bc;">GSA Office of Government-wide Policy</a></li>
          <li style="line-height: 1.7;"><a href="https://usa.gov" style="color: #0071bc;">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
