<img src="{{ site.baseurl }}/assets/img/svg/mountains.svg" style="margin-bottom:-9rem" alt="">
<footer class="usa-footer usa-footer-medium site" style="font-size: 1.4rem; background: #eff9fc; margin-top:8rem;" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#" style="color: $color-primary;">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section" style="background-color: #e1f3f8;">
    <div class="usa-grid">
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.8rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Contact us</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;">Twitter: <a class="usa-external_link" href="{{ site.baseurl }}/twitter/" style="color: #0071bc;">@novelsrv</a></li>
          <li style="line-height: 1.7;">Email: <a href="mailto:support@novelmc.net" style="color: #0071bc;">support@novelmc.net</a></li>
        </ul>
        <ul class="usa-unstyled-list" style="width: 20.6rem;">
          <li style="line-height: 3rem; padding-top: 1rem; border-bottom: 3px #0071bc solid;">Help us improve this site on <a href="https://github.com/novelmc/web/issues/new" style="color: #0071bc;">GitHub</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.5rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Explore</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/about/" style="color: #0071bc;">About us</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/team/" style="color: #0071bc;">Our team</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/faq/" style="color: #0071bc;">Frequently asked</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/environment/" style="color: #0071bc;">Server environment</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.5rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Resources</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a class="usa-external_link" href="{{ site.baseurl }}/discord/" target="_blank" style="color: #0071bc;">Discord server</a></li>
          <li style="line-height: 1.7;"><a href="#" target="_blank" style="color: #0071bc;">HTTPD server</a></li>
          <li style="line-height: 1.7;"><a href="http://map.novelmc.net/" target="_blank" style="color: #0071bc;">Dynamic map</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/vote/" target="_blank" style="color: #0071bc;">Voting information</a></li>
        </ul>
      </div>
      <img src="{{ site.baseurl }}/assets/img/logo-margins.svg" style="width: 40px; margin-top: 1.5rem; margin-bottom: 1rem; margin-left: 3rem; float: right; background: #fff; border-radius: 5px;">
      <img src="{{ site.baseurl }}/assets/img/irix.png" style="width: 40px; margin-top: 2rem; float: right;">
      </div>
    </div>
  </footer>
