<footer class="usa-footer usa-footer-medium site" style="font-size: 1.4rem; background: #eff9fc;" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#" style="color: $color-primary;">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section" style="background-color: #e1f3f8;">
    <div class="usa-grid">
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.8rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Contact us</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;">Twitter: <a class="usa-external_link" href="https://twitter.com/krebsforusa" style="color: #0071bc;">@krebsforusa</a></li>
          <li style="line-height: 1.7;">Email: <a href="mailto:krebsforamerica@gmail.com" style="color: #0071bc;">krebsforamerica@gmail.com</a></li>
        </ul>
        <ul class="usa-unstyled-list" style="width: 20.8rem;">
          <li style="line-height: 3rem; padding-top: 1rem; border-bottom: 3px #0071bc solid;">Paid and sponsored by <a class="usa-external_link" href="https://esotalk.net" style="color: #0071bc;">esoForum</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.5rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Information</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/docs/" style="color: #0071bc;">About the candidate</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/docs/library" style="color: #0071bc;">Campaign library</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/docs/policies" style="color: #0071bc;">School policies</a></li>
          <li style="line-height: 1.7;"><a href="{{ site.baseurl }}/docs/legal" style="color: #0071bc;">Legal content</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third" style="width: 28rem; margin-bottom: 1.5rem;">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Resources</h3>
        <ul class="usa-unstyled-list">
          <li style="line-height: 1.7;"><a class="usa-external_link" href="https://discordapp.com/invite/3fFF2V2" style="color: #0071bc;">Guild (ext. Discord srv.)</a></li>
          <li style="line-height: 1.7;"><a href="http://b.shadow.ga:27579/schematic/list" style="color: #0071bc;">HTTPD (file transfer srv.)</a></li>
          <li style="line-height: 1.7;"><a href="http://b.shadow.ga:26589/" style="color: #0071bc;">Dynamic (dyn) map</a></li>
          <li style="line-height: 1.7;"><a href="https://p.shadow.ga/" style="color: #0071bc;">Control panel</a></li>
        </ul>
      </div>
      <img src="{{ site.baseurl }}/assets/img/esowhite.svg" style="width: 40px; margin-top: 1.5rem; margin-bottom: 1rem; margin-left: 3rem; float: right; background: #0071bc; border-radius: 5px;">
      <a href="https://m.do.co/c/7438217b1bcd">
        <img src="{{ site.baseurl }}/assets/img/sammy.svg" style="width: 70px; padding-bottom: 1rem; float: right;">
      </a>
    </div>
  </div>
</footer>
