<img src="../assets/img/svg/waves.svg" style="margin-bottom:-1rem" alt="">
<footer class="usa-footer usa-footer-big" style="font-size: 1.4rem; background: #eff9fc;" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section" style="background-color: #eff9fc;">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Particulars</h3>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="/docs/">Documentation</a></li>
          <li class="usa-footer-secondary-link"><a href="/library/">Campaign libraries</a></li>
          <li class="usa-footer-secondary-link"><a href="/policies/">Legal policies/a></li>
        </ul>
        <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Resources</h3>
          <li class="usa-footer-secondary-link"><a href="https://discordapp.com/invite/nuNTR3U">Guild</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">HTTPD server</a></li>
          <li class="usa-footer-secondary-link"><a href="https://map.novelmc.net/">Dynamic map</a></li>
          <li class="usa-footer-secondary-link"><a href="https://panel.novelmc.net/">Management panel</a></li>
        </ul>
        <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Topic</h3>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
        </ul>
        <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
        <h3 style="font-size: 1.6rem; padding-top: 1rem;">Topic</h3>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
          <li class="usa-footer-secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section usa-footer-big-secondary-section" style="background-color: #e1f3f8;">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <img class="usa-footer-big-logo-img" src="/assets/img/logo-img.png" alt="">
        <h3 class="usa-footer-big-logo-heading">Name of Agency</h3>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <a class="usa-link-facebook" href="javascript:void(0);">
          <span>Facebook</span>
        </a>
        <a class="usa-link-twitter" href="javascript:void(0);">
          <span>Twitter</span>
        </a>
        <a class="usa-link-youtube" href="javascript:void(0);">
          <span>YouTube</span>
        </a>
        <a class="usa-link-rss" href="javascript:void(0);">
          <span>RSS</span>
        </a>
        <h3 class="usa-footer-contact-heading">Agency Contact Center</h3>
        <address>
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p>
              <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
            </p>
          </div>
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p><a href="mailto:info@agency.gov">info@agency.gov</a></p>
          </div>
        </address>
      </div>
    </div>
  </div>
</footer>
