{% if hero %}
<section class="usa-hero"{% if hero.image %}
  style="background-image: url('{{ hero.image | relative_url }}')"{% endif %}>
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      {% if hero.callout %}
      <h2>
        <span class="usa-hero-callout-alt">{{ post.title }}</span>
        {{ hero.callout.text | default: hero.callout }}
      </h2>

      {% if post.author %}
        <span>By {{ post.author }}</span>
      {% endif %}
        <time datetime="{{ post.date | date: '%FT%T' }}">
          {{ post.date | date: '%B %-d, %Y' }}
        </time>

    </div>
  </div>
</section>
{% endif %}
