---
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    <section class="usa-hero" style="background-image: url('https://novelmc.net/assets/img/hero/WVy0BOAMU9.png')">
      <div class="usa-grid">
       <div class="usa-hero-callout usa-section-dark" style="max-width: fit-content;">
         <h2>Information center</h2>
       </div>
      </div>
    </section>

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>

    {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
    {% if sidenav %}
    <aside class="usa-layout-docs-sidenav sidenav" style="position: sticky; top: 3rem;">
      {% include sidenav.html links=sidenav %}
    </aside>

    <div class="usa-layout-docs-main_content">
      {{ content }}
    </div>
    {% else %}
    <div class="usa-layout-docs-main_content">
      {{ content }}
    </div>
    {% endif %}

    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
