---
layout: default
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
<section class="usa-hero" style="background-image: url('/sgasite.github.io/main/ohlvtwm.png')">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark" style="width: 35.5rem;">
      <h2 style="color: #fff;">Informaton centre</h2> 
    </div>
  </div>
</section>

{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<aside class="usa-layout-docs-sidenav sidenav" style="position: sticky; top: 3rem;">
  {% include sidenav.html links=sidenav %}
</aside>

<div class="usa-layout-docs-main_content">
  {{ content }}
</div>
{% else %}
<div class="usa-layout-docs-main_content">
  {{ content }}
</div>
{% endif %}
