---
layout: default
---

{% assign hero = page.hero %}
{% include components/hero-image.html %}

{% capture _graphics %}
  {% include graphic-list.html graphics=page.graphics %}
{% endcapture %}
{% if page.graphics_position != 'after' %}{{ _graphics }}{% endif %}

<section class="usa-section">
  <div class="usa-grid">
      <header>
        <p class="site-subheading">{{ page.category | default: layout.category }}</p>
        <h1 id="{{ page.title | slugify }}" class="site-page-title">{{ page.title }}</h1>
      </header>
      {{ content }}
  </div>
</section>

{% if page.graphics_position == 'after' %}{{ _graphics }}{% endif %}
